Repository andreshere00/Splitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, enrich-readme, sync-readme-docs

flake8:
  name: Check for code best-practices compliance
  entry: uv run flake8 --max-line-length=101 --ignore=E203,W291,W293 src/
  language: system

enrich-readme:
  name: Enrich README with tree structure and contact information.
  entry: uv run python scripts/enrich_readme.py
  language: system
  stages:
  - pre-push

sync-readme-docs:
  name: Sync README.md to docs/index.md
  entry: uv run python scripts/build_docs.py
  language: system
  stages:
  - pre-push

Deployed 6e883f9 with MkDocs version: 1.6.1
  index.html
  search/search_index.json
Due: none

Deployed bb9bc4f with MkDocs version: 1.6.1
  index.html
  search/search_index.json
Due: none

fix: update site
  .gitignore
Due: none

fix: update site (#72)
  .gitignore
Due: none

feat: add support to extensible reading methods
  README.md
  config.yaml
  pyproject.toml
  scripts/enrich_readme.py
  site/assets/MultiRAG.drawio.svg
  src/application/api/models.py
  src/application/api/routers/split.py
  src/reader/read_manager.py
  src/reader/readers/docling_reader.py
  src/reader/readers/markitdown_reader.py
  src/reader/readers/ocr_reader.py
  src/reader/readers/pdfplumber_reader.py
  src/splitter/split_manager.py
  src/splitter/splitters/fixed_splitter.py
  test/reader/readers/test_markitdown_reader.py
  test/reader/test_read_manager.py
  uv.lock
Due: flake8, enrich-readme, sync-readme-docs

feat: add pdfplumber as a basic reading method
  src/domain/reader/read_manager.py
Due: flake8

feat: add docling as a basic reading method
  src/domain/reader/read_manager.py
Due: flake8

feat: add textract as a basic reading method
  src/domain/reader/read_manager.py
  src/domain/reader/readers/textract_reader.py
  src/infrastructure/model/models/textract_client.py
Due: flake8

fix: change scripts to support test coverage
  .coverage
  .pre-commit-config.yaml
  Makefile
  scripts/validate_test.sh
  test/__init__.py
  test/application/api/routers/test_split.py
  test/domain/__init__.py
  test/domain/chunker/__init__.py
  test/domain/chunker/test_chunk_manager.py
  test/domain/reader/__init__.py
  test/domain/reader/readers/__init__.py
  test/domain/reader/readers/test_markitdown_reader.py
  test/domain/reader/test_read_manager.py
  test/domain/splitter/__init__.py
  test/domain/splitter/splitters/__init__.py
  test/domain/splitter/splitters/test_fixed_splitter.py
  test/domain/splitter/splitters/test_paragraph_splitter.py
  test/domain/splitter/splitters/test_recursive_splitter.py
  test/domain/splitter/splitters/test_sentence_splitter.py
  test/domain/splitter/splitters/test_word_splitter.py
  test/infrastructure/__init__.py
  test/infrastructure/model/__init__.py
  test/infrastructure/model/models/__init__.py
  test/infrastructure/model/models/test_azure_client.py
  test/infrastructure/model/models/test_openai_client.py
  test/infrastructure/model/test_llm_client.py
Due: flake8

docs: update README with new file structure
  .pre-commit-config.yaml
  README.md
  docs/index.md
  scripts/build_docs.py
  scripts/enrich_readme.py
Due: flake8, enrich-readme, sync-readme-docs

Feat/multi rag xx update reading methods (#74)
  .coverage
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.md
  config.yaml
  docs/index.md
  pyproject.toml
  scripts/build_docs.py
  scripts/enrich_readme.py
  scripts/validate_test.sh
  src/application/api/models.py
  src/application/api/routers/split.py
  src/application/cli.py
  src/domain/reader/read_manager.py
  src/domain/reader/readers/docling_reader.py
  src/domain/reader/readers/markitdown_reader.py
  src/domain/reader/readers/pdfplumber_reader.py
  src/domain/reader/readers/textract_reader.py
  src/domain/splitter/split_manager.py
  src/domain/splitter/splitters/__init__.py
  src/domain/splitter/splitters/fixed_splitter.py
  src/infrastructure/helpers/config_loader.py
  src/infrastructure/model/models/textract_client.py
  src/main.py
  test/application/api/routers/test_split.py
  test/domain/reader/readers/test_docling_reader.py
  test/domain/reader/readers/test_pdfplumber_reader.py
  test/domain/reader/readers/test_textract_reader.py
  test/domain/reader/test_read_manager.py
  test/infrastructure/model/models/test_textract_client.py
  uv.lock
Due: flake8, enrich-readme, sync-readme-docs

docs: update application to v0.4.0
  .env.template
  Makefile
  README.md
  config.yaml
  docs/assets/MultiRAG.drawio.svg
  docs/assets/splitter.drawio.svg
  docs/assets/splitter_v0.4.0.drawio.svg
  src/infrastructure/model/models/textract_client.py
  test/infrastructure/model/models/test_textract_client.py
Due: flake8, enrich-readme, sync-readme-docs

docs: update application to v0.4.0 (#75)
  .env.template
  Makefile
  README.md
  config.yaml
  docs/assets/MultiRAG.drawio.svg
  docs/assets/splitter.drawio.svg
  docs/assets/splitter_v0.4.0.drawio.svg
  src/infrastructure/model/models/textract_client.py
  test/infrastructure/model/models/test_textract_client.py
Due: flake8, enrich-readme, sync-readme-docs

docs: update application to v0.4.0 (#75) (#77)
  .env.template
  Makefile
  README.md
  config.yaml
  docs/assets/MultiRAG.drawio.svg
  docs/assets/splitter.drawio.svg
  docs/assets/splitter_v0.4.0.drawio.svg
  src/infrastructure/model/models/textract_client.py
  test/infrastructure/model/models/test_textract_client.py
Due: flake8, enrich-readme, sync-readme-docs

fix: update README
  README.md
Due: enrich-readme, sync-readme-docs

feat: add support to json, yaml and csv files. add support to pandas-like objects
  config.yaml
  data/test/input/test.csv
  data/test/input/test_1.json
  data/test/input/test_1.yaml
  pyproject.toml
  src/application/api/models.py
  src/domain/reader/base_reader.py
  src/domain/reader/readers/pandas_reader.py
  src/domain/reader/readers/yaml_reader.py
  src/domain/splitter/split_manager.py
  src/domain/splitter/splitters/schema_based_splitter.py
  test/domain/reader/readers/test_pandas_reader.py
  test/domain/reader/readers/test_yaml_reader.py
  test/domain/splitter/splitters/test_schema_based_splitter.py
  uv.lock
Due: flake8

feat: add MarkdownConverter
  src/infrastructure/converter/converters/markdown_converter.py
  test/infrastructure/converter/converters/test_markdown_converter.py
Due: flake8

feat: add JSONConverter
  pyproject.toml
  src/infrastructure/converter/converters/json_converter.py
  test/infrastructure/converter/converters/test_json_converter.py
  uv.lock
Due: flake8

feat: add PNGConverter
  .DS_Store
  data/.DS_Store
  data/test/input/test_1.bmp
  data/test/input/test_1.gif
  data/test/input/test_1.jpg
  data/test/input/test_1.svg
  data/test/input/test_1.tiff
  pyproject.toml
  src/infrastructure/converter/converters/html_converter.py
  src/infrastructure/converter/converters/png_converter.py
  test/infrastructure/converter/converters/test_html_converter.py
  test/infrastructure/converter/converters/test_png_converter.py
  uv.lock
Due: flake8

feat: add Base64Converter
  src/infrastructure/converter/converters/base64_converter.py
  test/infrastructure/converter/converters/test_base64_converter.py
Due: flake8

feat: add HuggingfaceClient
  .env.template
  docs/model/docs.md
  src/domain/reader/read_manager.py
  src/infrastructure/analyzer/analyze_manager.py
  src/infrastructure/analyzer/analyzers/__init__.py
  src/infrastructure/analyzer/analyzers/anthropic_client.py
  src/infrastructure/analyzer/analyzers/azure_client.py
  src/infrastructure/analyzer/analyzers/base_client.py
  src/infrastructure/analyzer/analyzers/custom_client.py
  src/infrastructure/analyzer/analyzers/gemini_client.py
  src/infrastructure/analyzer/analyzers/huggingface_client.py
  src/infrastructure/analyzer/analyzers/llm_client.py
  src/infrastructure/analyzer/analyzers/openai_client.py
  src/infrastructure/analyzer/analyzers/textract_client.py
  src/infrastructure/analyzer/vlm/__init__.py
  src/infrastructure/converter/convert_manager.py
  test/domain/reader/test_read_manager.py
  test/infrastructure/analyzer/analyzers/__init__.py
  test/infrastructure/analyzer/analyzers/test_azure_client.py
  test/infrastructure/analyzer/analyzers/test_base_ocr.py
  test/infrastructure/analyzer/analyzers/test_custom_ocr.py
  test/infrastructure/analyzer/analyzers/test_huggingface_client.py
  test/infrastructure/analyzer/analyzers/test_llm_client.py
  test/infrastructure/analyzer/analyzers/test_openai_client.py
  test/infrastructure/analyzer/analyzers/test_textract_client.py
  test/infrastructure/analyzer/test_analyze_manager.py
  test/infrastructure/analyzer/test_base_client.py
  test/infrastructure/analyzer/vlm/__init__.py
  test/infrastructure/converter/test_convert_manager.py
Due: flake8

feat: add AnalyzeManager
  .DS_Store
  config.yaml
  src/infrastructure/analyzer/analyze_manager.py
  test/infrastructure/analyzer/test_analyze_manager.py
Due: flake8

fix: entrypoint gets correct config file
  config.yaml
  src/domain/reader/read_manager.py
  src/domain/splitter/split_manager.py
  src/main.py
Due: flake8

feat: add basic Dockerfile to execute CLI-based application
  Dockerfile.app
  pyproject.toml
  src/application/api/config.py
  src/application/api/routers/health.py
  test/application/api/routers/test_health.py
  test/application/api/routers/test_split.py
  test/conftest.py
  uv.lock
Due: flake8

feat: update entrypoint to use conversion method
  src/application/api/models.py
  src/application/api/routers/split.py
  test/application/api/routers/test_split.py
Due: flake8

Path conditions:
  flake8: any of: \.py$
  enrich-readme: any of: ^README\.md$
  sync-readme-docs: any of: ^README\.md$
